@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lora", serif;

}


h2{
    font-size: 28px;
    padding:10px;
    margin:30px 0px;
    border:1px solid rgba(164, 136, 136, 0.34);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    background-color:white;

}
#name{
    font-size: 18px;
    padding:3px;
    width: 250px; 
    font-family: "Lora", serif;
    border-radius: 5px;
    text-indent: 2px;
}
.fa-solid{
    margin:0px 8px;
    font-size: 26px;
}

#btn{
    font-size: 18px;
    background-color: rgb(6, 170, 6);
    color:white;
    border:0;
    padding:6px 9px;
    border-radius:10px;
    font-family: "Lora", serif;

}
#btn:active{
    transform: scale(0.98);

}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.526) ;
    margin:9px;
    padding:8px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px gray;
    width:260px;   /*when I change width h2 width also changing */
}

.todo p{
    font-size: 18px;
    margin-left: 20px;
}
.closebutton{
    border:0px;
    background-color:red;
    color:gainsboro;
    border-radius:50% ;
    padding:1px 5px;
    font-size: 16px;
    margin-right: 20px;
}
